/*global*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* Estilos Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.center-content {
    text-align: center;
}

.logos {
    display: inline-block;
    margin-left: 10px;
    font-size: 2rem;
    color: #444444;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }

    .center-content:last-child {
        margin-left: 0;
        margin-top: 10px;
    }

    .logos {
        margin-left: 0;
        margin-right: 10px;
    }
}

/*general form*/
.log-bg {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #00723F;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form h1 {
    text-align: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}

.form-normal {
    font-size: 20px;
}

.form-middle {
    font-size: 24px;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

/*config inputs*/
.input-control {
    position: relative;
    margin: 10px;
}

.input-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.input-notColumns {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
}

.input-columns-flex {
    display: flex;
    justify-content: center;
}

.input-control input {
    width: 100%;
    padding: 10 0px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.input-control label {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 0.8rem;
    color: #585754;
    pointer-events: none;
    transition: .5s;
    transform: translateY(-25%);
}

.input-control input:focus~label,
.input-control input:valid~label,
.input-control input:disabled~label {
    top: -20px;
    left: 0;
    color: #585754;
    font-size: 12px;
}

.animated-label {
    transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input-control select {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 50%;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/*button*/
.btn-reg {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
}

.btn-small {
    width: 50px;
}

.btn-reg:hover {
    background-color: rgb(206, 142, 0);
}

/*notifications*/
.hide {
    display: none;
}

.alert-error {
    color: red;
    font-size: 0.8rem;
}

.alert-success {
    color: green;
    font-size: 0.8rem;
}

.noti {
    font-size: 0.8rem;
    text-align: center;
}